@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap");

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Cabin, sans-serif;
  font-weight: 600;

  margin: 5vh 15vw;
}

/* HEADER */
header {
  margin-bottom: 4rem;
}

.page-heading {
  font-size: 3.6rem;
  line-height: 4.4rem;

  color: #4e5150;
}

/* MAIN CONTENT */
main {
  display: flex;
  justify-content: space-between;
}

/* FORMS */
.forms {
  width: 50%;
}

.contact-form {
  margin-bottom: 4rem;
}

.form-heading {
  margin-bottom: 1.5rem;

  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #333333;
}

.form-item {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
}

.form-save {
  flex-direction: row;

  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #4f4f4f;
}

.form-save > input {
  margin-right: 0.5rem;
}

.dual-form-items {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
}

.dual-form-items > .form-item {
  width: 47.5%;
}

.form-icon {
  position: absolute;
  margin-top: 3.25rem;
  margin-left: 1.5rem;
  max-width: 4rem;

  filter: invert(52%) sepia(10%) saturate(19%) hue-rotate(317deg)
    brightness(96%) contrast(87%);
}

.form-label {
  margin-bottom: 0.5rem;

  font-size: 1.2rem;
  line-height: 1.5rem;

  color: #4f4f4f;
}

.form-field,
.form-dropdown {
  font-family: Cabin, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;

  color: #828282;

  padding: 1.5rem;
  padding-left: 5rem;
  border: 0.1rem solid #828282;
  border-radius: 1.2rem;
}

.form-dropdown {
  padding: 1.4rem;
  padding-left: 4.5rem;
}

.form-submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-submit-btn {
  font-family: Cabin, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;

  color: #fff;
  background-color: #f2994a;

  cursor: pointer;

  transition: all 0.2s;

  padding: 1.5rem 3rem;
  border: none;
  border-radius: 1.2rem;
}

.form-submit-btn:hover,
.form-submit-btn:active {
  background-color: #ffb370;
}

/* CART ITEMS */
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40%;
  height: fit-content;

  background-color: #f2f2f2;

  padding: 2.5rem;
  border-radius: 1.2rem;
}

.item {
  display: flex;

  margin-bottom: 2rem;
}

.item:last-child {
  margin-bottom: 8rem;
}

.item-img {
  width: 50%;

  border-radius: 1.2rem;
  margin-right: 1.5rem;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-name {
  font-size: 1.6rem;
  line-height: 2rem;

  color: #4e5150;

  margin-bottom: 1rem;
}

.item-price-discounted {
  font-size: 1.6rem;
  line-height: 2rem;

  color: #f2994a;

  margin-right: 1rem;
}

.item-price-regular {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-decoration-line: line-through;

  color: #4e5150;
}

.item-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border: 0.1rem solid #828282;
  border-radius: 1.2rem;
}

.item-amount-decrement-btn,
.item-amount-increment-btn {
  font-family: Cabin, sans-serif;
  font-size: 3rem;

  color: #828282;
  background-color: #e0e0e0;

  transition: all 0.2s;

  cursor: pointer;

  padding: 0 1rem;
  border: none;
  border-radius: 4rem;
}

.item-amount-decrement-btn:hover,
.item-amount-decrement-btn:active,
.item-amount-increment-btn:hover,
.item-amount-increment-btn:active {
  color: #e0e0e0;
  background-color: #828282;
}

.item-amount-figure {
  font-size: 1.6rem;
  line-height: 2rem;

  color: #333333;

  margin: 0 2rem;
}

.total {
  display: flex;
  justify-content: space-between;

  padding-top: 1.5rem;
  border-top: 0.1rem solid #bdbdbd;
  margin-bottom: 1rem;
}

.total:last-child {
  margin-bottom: 0;
}

.total-name {
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #333333;
}

.total-price {
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #333333;
}
